# example .env file for Minecraft server configuration
MINECRAFT_SERVER_IP=YOUR_SERVER_IP_HERE
MINECRAFT_SERVER_PORT=8888
SERVER_MIN_RAM = os.getenv("1024M", "1024M")
SERVER_MAX_RAM = os.getenv("2048M", "2048M")